body {
    font-family: 'Lato', sans-serif;
    border: 1px solid black;
    max-width: 1200px;
    margin: 10px;
}

.container {
    display: flex;
    flex-direction: column-reverse;
    min-height: 10rem;
<<<<<<< HEAD
=======
    flex-direction: column-reverse;
>>>>>>> 6b4c2801afa29e10f8a2766dbc4ef5b5461f9623
    align-items: center;
}

.item {
    margin: 10px;
    background-color: blue;
}

.card {
    padding: 15px;
}

.card span {
    font-size: 40px;
}
<<<<<<< HEAD
 .item--5{
     order: 1;
     align-self: stretch;
 }
=======

.item--5 {
    order: 1;
    align-self: stretch;
}
>>>>>>> 6b4c2801afa29e10f8a2766dbc4ef5b5461f9623

